.banner{
    height:250px;
    background-color: #0D1B2A;
    position: relative;
    display: flex;
    justify-content: end;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.userProfile{
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.settingsButton{
    background-color: gray;
    color: rgb(255, 255, 255);
    width: max-content;
    display: flex;
    flex-direction: row;
    height: max-content;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.settingsButton:hover{
    cursor: pointer;
}

.settingsPhoto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 10px auto;
}

.settingsPhoto img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.infoText{
    position: relative;
    bottom: 50px;
}

.settingsPhoto input{
    display: none;
}

.inputField{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.buttonPhoto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
}
.buttonInterestSelection{
    text-decoration: none;
    color: black;
    padding: 12px;
}

.settingsSocial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 10px auto;
    align-items: center;
}

.settingsInterests{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 10px auto;
    align-items: center;
}

.socialMedia{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px 0;
}

#modal{
    width: 600px;
    position: relative;
}

#modal::backdrop{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.settingsButton p{
    margin: 0px 6px;
}

.closeButton{
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
}

.buttonPersonalize{
    width: 40%;
    margin: 10px auto;
}
.buttonPersonalize a{
    text-decoration: none;
    color: black;
}

.profileInfo{
    position: absolute;
    width: 90%;
    top: 145px;
    height: auto;
    left: 0;
    right: 0;
    margin: auto;
}

.userPick{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.listProfileInfo{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
    padding: 0%;
}

ul{
    list-style: none;
}
  
.socialMediasList {
display: flex;
align-items: center;
justify-content: center;
margin-top: 10px;
padding: 0%;
}
.socialMediasList .iconContent {
margin: 0 10px;
position: relative;
}
.socialMediasList .iconContent .tooltip {
position: absolute;
top: -10px;
left: 50%;
transform: translateX(-50%);
background-color: #5e5c5c;
color: #fff;
padding: 6px 10px;
border-radius: 5px;
opacity: 0;
visibility: hidden;
font-size: 14px;
transition: all 0.3s ease;
}
.socialMediasList .iconContent:hover .tooltip {
opacity: 1;
visibility: visible;
top: -30px;
}
.socialMediasList .iconContent .link {
display: flex;
justify-content: center;
align-items: center;
width: 50px;
height: 50px;
border-radius: 50%;
color: #4d4d4d;
background-color: #ececec80;
transition: all 0.3s ease-in-out;
}
.socialMediasList .iconContent .link:hover {
box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.socialMediasList .iconContent .link svg {
width: 30px;
height: 30px;
}
.socialMediasList .iconContent .link[data-social="instagram"]:hover {
color: #DD2A7B;
}
.socialMediasList .iconContent .link[data-social="linkedin"]:hover {
color: #0E76AB;
}
.socialMediasList .iconContent .link[data-social="facebook"]:hover {
color: #3B5998;
}

.listProfileInfo h2{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 800;
}

.contenedorRoadmapsGrande{
    margin-top: 200px;
}

.socialMedias{
    width: 100%;
}

.contenedorRoadmaps{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #0d1b2a18;
    border-radius: 10px;
    background-color: #eff0ef;
    width: 30%;
    margin: 2% 10px;
    padding: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.17);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    position: relative;
    height: 200px;
}

.contenedorRoadmaps:active{
    background-color: rgb(226, 224, 224);
} 

.interestColor {
    width: 100%;
    height: 100%;
    top: 7px;
    right: 7px;
    border-radius: 10px;
    position: absolute;
    z-index: -2;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.17);
}

.infoRoadmap1{
    width: 55%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.infoRoadmap2{
    width: 35%;
    flex-wrap: wrap;
}

.tituloCard{
    text-decoration: none; 
    color:black; 
    width: 80%;
    margin-top: 10px;
}

.top {
    position: relative;
    width: 100%;
}

.interestTag {
    position: absolute;
    right: -5px;
    top: 5px;
}


.cajaContenedorRoadmaps{
    justify-content: flex-start;
}

@media (max-width: 1200px){
    .contenedorRoadmaps{
        min-height: 320px;
    }
}

@media (max-width: 992px){
    .contenedorRoadmaps{
        min-height: 300px;
    }
}

@media (max-width: 768px) {
    .userProfile{
        height: 220px;
        width: 170px;
    }
    .userPick{
        width: 170px;
        height: 170px;
    }
    .infoText{
        bottom: 40px;
    }
    .banner{
        height: 200px;
    }
    .profileInfo{
        top: 110px;
    }
    .contenedorRoadmaps{
        width: 45%;
        margin: 2% 10px;
    }
}

@media (max-width: 576px) {
    .listProfileInfo{
        flex-direction: column;
        align-items: center;
    }
    .listProfileInfo li{
        margin: 10px 0;
    }
    .contenedorRoadmapsGrande{
        margin-top: 400px;
    }
    .infoText{
        margin-top: 20px;
        width: 100%;
    }
    #infoUser{
        margin-top: 50px;
    }
    .infoText h2 h3{
        text-align: left;
    }
    .contenedorRoadmaps{
        width: 90%;
        min-height: 200px;
    }
    .cajaContenedorRoadmaps{
        justify-content: space-around;
    }
}

@media (max-width: 382px){
    .contenedorRoadmaps{
        width: 90%;
        min-height: 250px;
    }
}

/* like icon */
.liked path{
    fill: #ff0000;
    stroke-width: 0;
}

.notliked path{
    fill: #ffffff;
    stroke-width: 10;
}

