{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Analytics {% endblock title %}</title>
    {% block styles %}
    {% endblock styles %}
</head>
<body>
{% block content %}
<div class="container-fluid px-0">
    <div class="p-5" style="background-color: #0D1B2A; color:white;">
        <h2>Welcome to the analytics section...</h2>
        <h4>Here are some roadmaps and statistics you might find interesting:</h4>
    </div>
        <div class="p-4" style="background-color: #1B263B; color:white;">
            <h5 class="mb-0" style="padding-left: 25px;">Statistics for {{ name }} at {{ city }}</h5>
        </div>
        <div class="d-flex flex-sm-row flex-column align-items-center justify-content-center">
            <img src="data:image/svg+xml;base64,{{ chartOne }}" alt="Chart One" style="width: fit-content;">
            <img src="data:image/svg+xml;base64,{{ chartTwo }}" alt="Chart Two" style="width: fit-content;">
        </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
        {% for interest, roadmaps in suggestedRoadmaps.items %}
                <div class="{{ interest }} row w-100">
                    {% if roadmaps %}
                        <h2 class="text-center pt-4">Roadmaps for {{ interest }}</h2>
                        <div class="row row-cols-1 row-cols-md-3 d-flex justify-content-sm-center justify-content-md-center">
                            {% for roadmap in roadmaps %}
                                <div class="card m-2 p-0">
                                    <a href="/roadmap/displayRoadmap/{{roadmap.id}}" style="text-decoration: none; color:black"><h5 class="card-title text-center my-1">{{ roadmap }}</h5></a>
                                    <br>
                                    <div class="card-body" style="background-color: #E0E1DD;">
                                        <div>
                                            <p class="card-text">Number of likes: {{ roadmap.numberOfLikes }}</p>
                                            <p class="card-text">Created by: {{ roadmap.user }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <h2 class="text-center pt-4">There are no roadmap suggestions for {{ interest }}</h2>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
</body>
</html>