{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"> </script>
    <title>{% block title %} Explore {% endblock title %}</title>
    {% block styles %}
    <link rel="stylesheet" href="{% static 'styles/explore.css' %}">
    {% endblock styles %}
</head>
<input>
{% block content %}
    <div class="contenedorBanner">
        <div class="banner">
            <h2>Explore</h2>
            <h4>Have a look at other people's journeys</h4>
            <div class="contenedorForm">
                <form action="{% url 'explore' %}" method="POST" class="form1">
                    {% csrf_token %}
                    <input type="text" class="input objective" name="objective" id="objective" size="35" placeholder="Filter by objective" required onchange="verifyRequired()">
                    <select name="interest" id="interest" class="input interest" required onchange="verifyRequired()">
                        <option value="" selected disabled style="color: rgba(128, 128, 128, 0.438);">Filter by interest</option>
                        {% for id, interest in interests.items %}
                            <option value="{{ id }}">{{ interest }}</option>
                        {% endfor %}
                    </select>
                    <div class="button-1 buttonPersonalize">
                        <input type="submit" class="button" value="Search">
                    </div>
                </form>
                <form action="{% url 'explore' %}" method="GET" class="form2">
                    <div class="button-1 buttonPersonalize">
                        <input type="submit" class="button" value="Reset">
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if filtered %}
        <div class="container contenedorRoadmapsGrande">
            {% if filteredRoadmaps %}
                <div class="resultados">
                    <h2 class="tituloResultados">Results</h2>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle botonDropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Order by
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <div name="moreLikes" class="dropdown-item dropdownboton" id="moreLikes" onclick="sortRoadmaps('', true)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                                    </svg>
                                    <p>Most likes</p>
                                </div>
                            </li>
                            <li>
                                <div name="moreLikes" class="dropdown-item dropdownboton" id="moreLikes" onclick="sortRoadmaps('', false)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                                    </svg>
                                    <p>Least likes</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row cajaContenedorRoadmaps" id="filteredRoadmaps">
                    {% for roadmap in filteredRoadmaps %}
                        <div likes="{{ roadmap.numberOfLikes }}" class="contenedorRoadmaps flex-column justify-content-between">
                            <div class="interestColor" style="background-color: {{ roadmap.interest.color }};">

                            </div>
                            <div class="top d-flex flex-row justify-content-center">
                                <a href="/roadmap/displayRoadmap/{{roadmap.id}}" class="tituloCard">
                                    <h5 class="card-title text-center my-1">{{ roadmap.content.name }}</h5>
                                </a>
                            </div>
                            <br>
                            <div class="d-flex flex-row w-100 justify-content-between">
                                <div class="infoRoadmap1">
                                    <p>Owner: <a href="{% url 'profile' roadmap.user.pk %}" class="Owner">{{ roadmap.user }}</a></p>
                                    <p>Interest: {{ roadmap.interest }}</p>
                                </div>
                                <div class="d-flex justify-content-end align-items-end mb-3 infoRoadmap2">
                                    <div class="d-flex flex-row align-items-center">
                                        <p style="margin: 0px 3px 0px 10px;">{{ roadmap.numberOfLikes }}</p>
                                        {% if roadmap in likedRoadmaps %}
                                        <div class="liked d-flex justify-content-center">
                                            <svg viewBox="0 0 256 256" height="20" width="20">
                                                <rect fill="none" height="16" width="16"></rect>
                                                <path d="M224.6,51.9a59.5,59.5,0,0,0-43-19.9,60.5,60.5,0,0,0-44,17.6L128,59.1l-7.5-7.4C97.2,28.3,59.2,26.3,35.9,47.4a59.9,59.9,0,0,0-2.3,87l83.1,83.1a15.9,15.9,0,0,0,22.6,0l81-81C243.7,113.2,245.6,75.2,224.6,51.9Z" stroke-width="20px" stroke="#000" fill="none"></path>
                                            </svg>
                                        </div>
                                        {% else %}
                                        <div class="notliked d-flex justify-content-center">
                                            <svg viewBox="0 0 256 256" height="20" width="20">
                                                <rect fill="none" height="16" width="16"></rect>
                                                <path d="M224.6,51.9a59.5,59.5,0,0,0-43-19.9,60.5,60.5,0,0,0-44,17.6L128,59.1l-7.5-7.4C97.2,28.3,59.2,26.3,35.9,47.4a59.9,59.9,0,0,0-2.3,87l83.1,83.1a15.9,15.9,0,0,0,22.6,0l81-81C243.7,113.2,245.6,75.2,224.6,51.9Z" stroke-width="20px" stroke="#000" fill="none"></path>
                                            </svg>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="d-flex flex-row align-items-center">
                                        <p style="margin: 0px 3px 0px 10px">{{ roadmap.completionPercentage }}%</p>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                            <path d="M8 0a8 8 0 1 0 8 8A8 8 0 0 0 8 0zm3.354 5.646a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7 9.293l3.646-3.647z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h2 class="text-center pt-4">No roadmaps found for {{ searchTerm }}</h2>
            {% endif %}
        </div>
    {% else %}
        <div class="{{ interest }} container contenedorRoadmapsGrande">
            {% if suggestedRoadmaps %}
                <div class="resultados">
                    <h2 class="tituloResultados">Recomendations</h2>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle botonDropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Order by
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <div name="moreLikes" class="dropdown-item dropdownboton" id="moreLikes" onclick="sortRoadmaps('', true)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                                    </svg>
                                    <p>Most likes</p>
                                </div>
                            </li>
                            <li>
                                <div name="moreLikes" class="dropdown-item dropdownboton" id="moreLikes" onclick="sortRoadmaps('', false)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                                    </svg>
                                    <p>Least likes</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row cajaContenedorRoadmaps" id="Roadmaps">
                    {% for roadmap in suggestedRoadmaps %}
                        <div likes="{{ roadmap.numberOfLikes }}" class="contenedorRoadmaps flex-column justify-content-between">
                            <div class="interestColor" style="background-color: {{ roadmap.interest.color }};"></div>
                            <div class="top d-flex flex-row justify-content-center">
                                <a href="/roadmap/displayRoadmap/{{roadmap.id}}" class="tituloCard">
                                    <h5 class="card-title text-center my-1">{{ roadmap.content.name }}</h5>
                                </a>
                            </div>
                            <br>
                            <div class="d-flex flex-row w-100 justify-content-between">
                                <div class="infoRoadmap1">
                                    <p>Owner: <a href="{% url 'profile' roadmap.user.pk %}" class="Owner">{{ roadmap.user }}</a></p>
                                    <p>Interest: {{ roadmap.interest }}</p>
                                </div>
                                <div class="d-flex justify-content-end align-items-end mb-3 infoRoadmap2">
                                    <div class="d-flex flex-row align-items-center">
                                        <p style="margin: 0px 3px 0px 10px;">{{ roadmap.numberOfLikes }}</p>
                                        {% if roadmap in likedRoadmaps %}
                                        <div class="liked d-flex justify-content-center">
                                            <svg viewBox="0 0 256 256" height="20" width="20">
                                                <rect fill="none" height="16" width="16"></rect>
                                                <path d="M224.6,51.9a59.5,59.5,0,0,0-43-19.9,60.5,60.5,0,0,0-44,17.6L128,59.1l-7.5-7.4C97.2,28.3,59.2,26.3,35.9,47.4a59.9,59.9,0,0,0-2.3,87l83.1,83.1a15.9,15.9,0,0,0,22.6,0l81-81C243.7,113.2,245.6,75.2,224.6,51.9Z" stroke-width="20px" stroke="#000" fill="none"></path>
                                            </svg>
                                        </div>
                                        {% else %}
                                        <div class="notliked d-flex justify-content-center">
                                            <svg viewBox="0 0 256 256" height="20" width="20">
                                                <rect fill="none" height="16" width="16"></rect>
                                                <path d="M224.6,51.9a59.5,59.5,0,0,0-43-19.9,60.5,60.5,0,0,0-44,17.6L128,59.1l-7.5-7.4C97.2,28.3,59.2,26.3,35.9,47.4a59.9,59.9,0,0,0-2.3,87l83.1,83.1a15.9,15.9,0,0,0,22.6,0l81-81C243.7,113.2,245.6,75.2,224.6,51.9Z" stroke-width="20px" stroke="#000" fill="none"></path>
                                            </svg>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="d-flex flex-row align-items-center">
                                        <p style="margin: 0px 3px 0px 10px">{{ roadmap.completionPercentage }}%</p>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                            <path d="M8 0a8 8 0 1 0 8 8A8 8 0 0 0 8 0zm3.354 5.646a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7 9.293l3.646-3.647z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h2 class="text-center pt-4">There are no roadmap recommendations</h2>
            {% endif %}
        </div>
    {% endif %}
    {% endblock content %}
    {% block scripts %}
        <script src="{% static 'scripts/explore.js' %}"></script>
    {% endblock scripts %}
</body>
</html>