@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif !important; 
  height: 100%;
}

.navbar {
  position: sticky !important;
  top: 0;
  width: 100%;
  z-index: 10;
}

.userIcon{
    border-radius: 50%;
    background-color: #102C57;
    width: 40px;
    text-align: center;
    color: white;
    align-items: center;
}

.extraInfo{
    display: none;
}

.extraInfo{
  display: block;
}


@media (max-width: 992px) {  /* Ajustar el tamaño del punto de quiebre si es necesario */
  .extraInfo {
      display: block;
  }
  .extraInfo2 {
      display: none;
  }
}

/* Mostrar el ícono de usuario cuando el menú está desplegado */
@media (min-width: 992px) {
  .extraInfo {
      display: none;
  }
  .extraInfo2 {
      display: block;
  }
}

.sub-menu-wrap{
  position: absolute;
  margin-top: 10px;
  top: 100%;
  right: 2%;
  width: 320px; 
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s; 
}
.sub-menu-wrap.open-menu{
  max-height: 400px;
}

.sub-menu{
  background: #e9ecef;
  padding: 20px;
  margin: 10px;
}
.user-info{
  display: flex;
  align-items: center;
}
.user-info h3{
  font-weight: 500;
  margin: 0px;
}
.sub-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background-color: #000000;
  margin: 15px 0px 10px 0px;
}
.user-info img{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}
.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 12px 0;
  color: #000000;
}

.sub-menu-link p{
  width: 100%;
  margin: 0;
  margin-left: 10px;
}

.sub-menu-link:hover p{
  font-weight: 500;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-login{
  font-weight: 800;
}

.button-1{
  border: none;
  outline: none;
  height: 45px;
  background: #E0E1DD;
  border-radius: 10px;
  transition: .4s;
}
.button-1:hover{
  background: #415A77;
  color: #fff;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

dialog {
  border-width: 0;
  border-radius: 30px;
}