@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif !important;
}

.tituloRoadmap{
    text-align: center;
    width: 80%;
    margin: auto;
}

.tituloRoadmap h1{
    font-size: 100px;
}

.caminoRoadmap{
    background-color: black;
    width: 70%;
    margin: auto;
    border-radius: 10px;
}
.listaPasosImpar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    list-style: none;
}
.listaPasosPar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65%;
    margin: auto;
    list-style: none;
}

.contenedorPasoImpar{
    text-decoration: none;
    background-color: #f1f1f1;
    border-radius: 20%;
    padding: 20px;
    color: black;
    transition: 0.5s;
    width: 200px;
    align-content: center;
    text-align: center;
    height: 200px;
    align-items: justify;
    margin: 0px 30px;
    transition: transform 0.5s ease;
}

.contenedorPasoImpar h3{
    font-size: 22px;
    margin: 0px;
}

.contenedorPasoImpar:hover{
    transform: scale(1.1);
}

.contenedorPasos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 100px auto;
}

.pasos{
    width: auto;
    height: auto;
    font-size: 20px;
    list-style: none;
    text-align: left;
    transition: 0.4s; 
    display: flex;  
    flex-direction: row;
}

.listaPasosGrandes h2{
    margin-bottom: 25px;
}

.modals{
    width: 50%;
    padding: 0%;
}

.infoPaso{
    width: 60%;
    height: auto;
    text-align: left;
    border-radius: 5% 0% 0% 5%;
    padding: 50px 20px 50px 50px;
}

.infoJob{
    width: 40%;
    text-align: left;
    align-content: center;
    height: auto;
    background-color: #dfdfdf;
}

.footer{
    background-color: #000000;
    color: #f1f1f1;
    text-align: center;
    height: auto;
}
.footer h2{
    padding: 90px 0px 60px 0px;
    font-size: 50px;
}

.contenedorConclutions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conclutions{
    font-size: x-large;
    width: 25%;
    height: auto;
}
 .liItem h2{
    font-size: larger;
}

 .liItem h3{
    font-size: large;
}

.completion{
    text-align: center;
    margin-top: 100px;
    font-size: larger;
    font-weight: 800;
}

.main{
    width: 80%;
    margin: 200px auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    transform: scale(0.9);
}

.main ul{
    width: 100%;
    display: flex;
    margin: 50px 0px; 
    padding: 0px;
    justify-content: center ;
}

.main ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progress{
    margin: 12px 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #778da9;
    display: grid;
    place-items: center;
    color: white;
    position: relative;
    overflow: visible;
    cursor: pointer;
    transition: 0.5s;
    align-items: center;
}

.progress::after{
    content: "";
    position: absolute;
    width: 215px;
    height: 8px;
    background-color: #778da9;
    right: 45px;
    transition: background-color 0.5s ease;
}

.progress p{
    margin: 0%;
    font-size: 20px;
}

.progress .iconnn{
    display: none;
}

.pasos1 , .pasos3, .pasos5{
    bottom: 270px;
    position: relative;
}

.paso1::after{
    width: 0px;
    height: 0px;
}

.active{
    background-color: #415A77;
    transition: background-color 0.5s ease;
}

.active::after{
    background-color: #415A77;
    transition: background-color 0.5s ease;
}

.active p{
    display: none;
}

.active .iconnn{
    display: flex;
}

@media(max-width: 1200px){
    .main{
        transform: scale(0.75);
    }
}

@media(max-width: 992px){
    .main{
        margin: auto;
        scale: 1.2;
    }
    .main ul{
        flex-direction: column;
    }
    .main ul li{
        flex-direction: row;
        justify-content: flex-end;
        height: 200px;
    }
    .progress::after{
        width: 8px;
        height: 157px;
        bottom: 45px;
        left: 43%;
        transform: rotate(-50%);
        z-index: -1;
    }
    .paso2{
        z-index: 5;
    }
    .pasos1 , .pasos3, .pasos5{
        bottom: 0px;
        right: 52%;
        position: relative;
    }
    .paso1::after{
        width: 0px;
        height: 0px;
    }
    .contenedorPasoImpar{
        width: 40%;
        max-height: 180px;
        border-radius: 20px;
        overflow: hidden;
    }

    .contenedorPasoImpar h2, h3{
        font-size: 20px;
    }
}

@media (max-width: 768px){
    .main{
        margin: auto;
    }
    .main ul{
        flex-direction: column;
    }
    .main ul li{
        flex-direction: row;
        justify-content: space-around;
        height: 200px;
    }
    .progress::after{
        width: 8px;
        height: 157px;
        bottom: 45px;
        left: 43%;
        transform: rotate(-50%);
        z-index: -1;
    }
    .paso2{
        z-index: 5;
    }
    .pasos1 , .pasos3, .pasos5{
        bottom: 0px;
        right: 0px;
        position: relative;
    }
    .paso1::after{
        width: 0px;
        height: 0px;
    }
    .contenedorPasoImpar{
        width: 60%;
        max-height: 180px;
        border-radius: 20px;
        overflow: hidden;
    }

    .contenedorPasoImpar h2, h3{
        font-size: 20px;
    }
}

.contenedorCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
.contenedorCheckbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    user-select: none;
}
  
  /* Create a custom checkbox */
.checkmark {
--clr: #4c698a;
position: relative;
top: 0;
left: 0;
height: 1.3em;
width: 1.3em;
background-color: #ccc;
border-radius: 50%;
transition: 300ms;
margin-right:10px ;
}

/* When the checkbox is checked, add a blue background */
.contenedorCheckbox input:checked ~ .checkmark {
background-color: var(--clr);
border-radius: .5rem;
animation: pulse 500ms ease-in-out;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.contenedorCheckbox input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.contenedorCheckbox .checkmark:after {
left: 0.5em;
top: 0.3em;
width: 0.4em;
height: 0.6em;
border: solid #E0E0E2;
border-width: 0 0.15em 0.15em 0;
transform: rotate(45deg);
}

form div{
    margin: 10px 0;
}
  
@keyframes pulse {
0% {
    box-shadow: 0 0 0 #0B6E4F90;
    rotate: 20deg;
}

50% {
    rotate: -20deg;
}

75% {
    box-shadow: 0 0 0 10px #0B6E4F60;
}

100% {
    box-shadow: 0 0 0 13px #0B6E4F30;
    rotate: 0;
}
}
