@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif !important;
}

.tituloRoadmap{
    text-align: center;
    margin: 50px 0px;
}

.tituloRoadmap h1{
    font-size: 100px;
}

.caminoRoadmap{
    background-color: black;
    width: 70%;
    margin: auto;
    border-radius: 10px;
}
.listaPasosImpar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    list-style: none;
}
.listaPasosPar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65%;
    margin: auto;
    list-style: none;
}

.contenedorPasoImpar{
    text-decoration: none;
    background-color: #f1f1f1;
    border-radius: 20%;
    padding: 20px;
    color: black;
    transition: 0.5s;
    width: 200px;
    align-content: center;
    text-align: center;
    height: 200px;
    align-items: justify;
}

.contenedorPasoImpar:hover{
    background-color: #afafaf;
    color: white;
    rotate: 5deg;
    transition: 0.5s;
}

.contenedorPasos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 100px auto;
}

.pasos{
    width: 40%;
    height: auto;
    font-size: 20px;
    list-style: none;
    text-align: left;
    border-radius: 5%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    transition: 0.4s;
    margin: 30px;    
    display: flex;
    flex-direction: row;
}

.pasos:hover{
    background-color: #f7f7f7;
    scale: 1.05;
    transition: 0.4s;
}

.contenedorPasoImpar:active{
    background-color: #102C57;
    color: white;
    rotate: 5deg;
    transition: 0.5s;
}

.listaPasosGrandes h2{
    margin-bottom: 25px;
}

.infoPaso{
    width: 60%;
    height: auto;
    text-align: left;
    border-radius: 5% 0% 0% 5%;
    padding: 50px 20px 50px 50px;
}

.infoJob{
    width: 40%;
    text-align: left;
    align-content: center;
    height: auto;
    background-color: #dfdfdf;
    border-radius: 0% 5% 5% 0%;
    padding: 50px 50px 50px 20px;
}

.footer{
    background-color: #000000;
    color: #f1f1f1;
    text-align: center;
    height: auto;
}
.footer h2{
    padding: 90px 0px 60px 0px;
    font-size: 50px;
}

.contenedorConclutions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conclutions{
    font-size: x-large;
    width: 25%;
    height: auto;
}
 .liItem h2{
    font-size: larger;
}

 .liItem h3{
    font-size: large;
}

.completion{
    text-align: center;
    margin-top: 100px;
    font-size: larger;
    font-weight: 800;
}