{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"> </script>
    <title>{% block title %} {{ user }}'s profile {% endblock title %}</title>
    {% block styles %}
    {% endblock styles %}
</head>
<body>
{% block content %}
<div class="container-fluid px-0">
    <div class="w-100 p-5" style="background-color: #0D1B2A; color:white">
        <h2>{{ name }}'s profile</h2>
        <h4>Here is some valuable information for you:</h4>
    </div>
    {% if isCompany %}
    <h1 style="text-align: center;">Nothing to display yet (Work in progress) :D </h1>
    {% else %}
        <div class="d-flex flex-column align-items-center justify-content-center">
            {% if roadmaps %}
                <div class="row d-flex justify-content-sm-center justify-content-md-center my-5">
                    {% for roadmap in roadmaps %}
                        <div class="card m-2 p-0">
                            <a href="/roadmap/displayRoadmap/{{roadmap.id}}" style="text-decoration: none; color:black"><h5 class="card-title text-center my-1">{{ roadmap }}</h5></a>
                            <br>
                            <div class="card-body" style="background-color: #E0E1DD;">
                                <div>
                                    <p class="card-text">Number of likes: {{ roadmap.numberOfLikes }}</p>
                                    <p class="card-text">Completion percentage: {{ roadmap.completionPercentage }}%</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h2 class="text-center pt-4">You haven't created any roadmap.</h2>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock content %}
</body>
</html>