{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock title %}</title>
    {% block styles %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    {% endblock styles %}
</head>
<body>
    {% block content %}
    <div class="contenedorPrimeraInfo">
        <div class="contenedorTitulo">
            <h1>Welcome to <span translate="no"> JobJourney</span></h1>
            <h3>The journey to your dream job</h3>
            <a href="{% url 'interestForm'%}" class="botonCrearRoadmap">Create a <span translate="no"> roadmap</span></a>
        </div>
        <div class="contenedorImagen">
            <img src="{% static 'images/roadmap.png' %}" alt="roadmap">
        </div>
    </div>
    {% endblock content %}
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>