<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>interestForm</title>
</head>
<body>
    <div>
        <label for="interest">Select area of interest:</label>
        <select name="interest" id="interest">
            <option value=""></option>
            <option value="natural_sciences">Natural Sciences</option>
            <option value="mathematics_statistics">Mathematics and Statistics</option>
            <option value="engineering_technology">Engineering and Technology</option>
            <option value="medical_health_sciences">Medical and Health Sciences</option>
            <option value="social_sciences">Social Sciences</option>
            <option value="humanities">Humanities</option>
            <option value="arts_design">Arts and Design</option>
            <option value="business_management">Business and Management</option>
            <option value="law_legal_studies">Law and Legal Studies</option>
            <option value="education">Education</option>
            <option value="computer_science_information_systems">Computer Science and Information Systems</option>
            <option value="environmental_agricultural_sciences">Environmental and Agricultural Sciences</option>
            <option value="communication_media">Communication and Media</option>
            <option value="interdisciplinary_studies">Interdisciplinary Studies</option>
        </select>
    </div>

    <div>
        <label for="">Enter your objective:</label>
        <input type="text" name="" id="" size="35" placeholder="Ex: Software engineer at Google">

        
    </div>
</body>
</html>