{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'styles/interestFormStyle.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    {% endblock styles %}
    <title>{% block title %} Interest Form {% endblock title %}</title>
</head>
<body>
    {% block content %}
    <div class="main">
        <form action="{% url 'roadmapGenerator' %}" method="POST">
            {% csrf_token %}
            <div class="input-field">
                <div class="interest">
                    <label for="interest" class="labelInterest">Select area of interest</label>
                    <select name="interest" id="interest" class="form-select">
                        <option value=""></option>
                        <option value="natural_sciences">Natural Sciences</option>
                        <option value="mathematics_statistics">Mathematics and Statistics</option>
                        <option value="engineering_technology">Engineering and Technology</option>
                        <option value="medical_health_sciences">Medical and Health Sciences</option>
                        <option value="social_sciences">Social Sciences</option>
                        <option value="humanities">Humanities</option>
                        <option value="arts_design">Arts and Design</option>
                        <option value="business_management">Business and Management</option>
                        <option value="law_legal_studies">Law and Legal Studies</option>
                        <option value="education">Education</option>
                        <option value="computer_science_information_systems">Computer Science and Information Systems</option>
                        <option value="environmental_agricultural_sciences">Environmental and Agricultural Sciences</option>
                        <option value="communication_media">Communication and Media</option>
                        <option value="interdisciplinary_studies">Interdisciplinary Studies</option>
                    </select>
                </div>
            </div>
            <div class="input-field">
                <div class="objective">
                    <label for="objective" class="labelObjective">Enter your objective</label>
                    <input type="text" class="inputObjective input" name="objective" id="objective" size="35" placeholder="Ex: Software engineer at Google">
                </div>
            </div>
            <div class="" style="width: 80%;">
                <div class="salary">
                    <div class="container">
                        <label for="salary" class="labelSalary">Select expected salary per year in USD</label>
                        <h5 id="value" name="value"></h5>
                        <input type="range" class="form-range" min="10000" max="500000" step="5000" id="salary" name="salary" onchange="changeValue(this)">
                    </div>
                </div>
            </div>
            <div class="button">
                <div class="input-field">
                    <input type="submit" class="button-1" value="Submit">
                </div>
            </div>
        </form>
    </div>
    {% endblock content %}
    {% block scripts %}
    <script src="{% static 'scripts/interestForm.js' %}"></script>
    {% endblock scripts %}
</body>
</html>