{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ roadmap.name }}{% endblock title %}</title>
    {% block styles %}
    <link rel="stylesheet" href="{% static 'styles/roadmapstyles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    {% endblock styles %}
</head>
<body>
    {% block content %}
    <div class="main">
        <ul>
            {% for step in roadmap.steps %}
                <li>
                    <div class="progress paso{{step.number}}" id="paso{{step.number}}">
                        <p>{{step.number}}</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="iconnn bi bi-check2" viewBox="0 0 16 16">
                            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                        </svg>
                    </div>
                    <a href="#Paso{{step.number}}" class="contenedorPasoImpar pasos{{step.number}}" id="btn{{step.number}}">
                        <h3>{{ step.name }}</h3>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="container completion">
        <p>Completion Percentage: {{ completionPercentage }}%</p>
    </div>
        {% for step in roadmap.steps %}
            <dialog id="modal{{step.number}}" class="modals">
                <div class="pasos" id="Paso{{step.number}}">
                    <div class="infoPaso">
                        <h2>Step {{ step.number }}</h2>
                        <h3>{{ step.name }}</h3>
                        <b>Checkpoints</b>
                        {% if editable %}
                            <form action="{% url 'checkpointUpdate' %}" method="POST">
                                {% csrf_token %}
                                {% for remarkablePoint in step.remarkablePoints %}
                                    <div class="d-flex align-items-center"> 
                                        <label class="contenedorCheckbox">
                                            <input type="checkbox" id="remarkablePoint" name="remarkablePoint" value="0" onchange="submitForm(this, '{{ step.number }}')">
                                              <div class="checkmark"></div>
                                        </label>
                                        <p style="margin: 0%;">{{ remarkablePoint }}</p>
                                    </div>
                                {% endfor %}
                                <input type="hidden" id="roadmapId" name="roadmapId" value="{{ roadmapId }}">
                                <input type="hidden" id="stepNumber" name="stepNumber" value="{{ step.number }}">
                                <input type="hidden" id="checkpoint{{ step.number }}" name="checkpoint{{ step.number }}" value="0">
                            </form>
                        {% else %}
                            <ul>
                                {% for remarkablePoint in step.remarkablePoints %}
                                    <li>{{ remarkablePoint }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <b>Recommended Materials</b>
                        <ul>
                            {% for material in step.recommendedMaterials %}
                                <li>{{material.title}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="infoJob">
                        <h3>Job you should aspire to</h3>
                        <h4>{{step.jobSuggestion.title}}</h4>
                        <p>{{step.jobSuggestion.description}}</p>
                    </div>
                </div>
            </dialog>
            <div>
            </div>
        {% endfor %}
    <div class="footer">
        <h2>Conclusions</h2>
        <div class="contenedorConclutions">
            <div class="conclutions">
                <h3>Benefit</h3>
                <p> {{roadmap.benefit}} </p>
            </div>
            <div class="conclutions">
                <h3>Salary</h3>
                <p> {{roadmap.salary}} </p>
            </div>
        </div>
    </div>
    {% endblock content %}
    {% block scripts %}
    <script src="{% static 'scripts/roadmap.js' %}"></script>
    <script type="application/json" id="checkpoints-data">{{ checkpoints|safe }}</script> 
    {% endblock scripts %}
</body>
</html>