{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ roadmap.name }}{% endblock title %}</title>
    {% block styles %}
    <link rel="stylesheet" href="{% static 'styles/roadmapstyles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    {% endblock styles %}
</head>
<body>
    {% block content %}
    <div class="tituloRoadmap">
        <h1>{{ roadmap.name }}</h1>
    </div>
    <div>
        <ul class="listaPasosImpar">
            {% for step in roadmap.steps %}
                {% if not step.number|divisibleby:2 %}
                    <a href="#Paso{{step.number}}" class="contenedorPasoImpar">
                        <li class="liItem">
                            <h2>Step {{ step.number }}</h2>
                            <h3>{{ step.name }}</h3>
                        </li>
                    </a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="caminoRoadmap">
        <p>.</p>
    </div>
    <div>
        <ul class="listaPasosPar">
            {% for step in roadmap.steps %}
                {% if step.number|divisibleby:2 %}
                    <a href="#Paso{{step.number}}" class="contenedorPasoImpar">
                        <li class="liItem">
                            <h2>Step {{ step.number }}</h2>
                            <h3>{{ step.name }}</h3>
                        </li>
                    </a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="contenedorPasos">
        <script type="application/json" id="checkpoints-data">
            {{ checkpoints|safe }}
        </script>  
        {% for step in roadmap.steps %}
            <div class="pasos" id="Paso{{step.number}}">
                <div class="infoPaso">
                    <h2>Step {{ step.number }}</h2>
                    <h3>{{ step.name }}</h3>
                    <b>Checkpoints</b>
                    {% if editable %}
                        <form action="{% url 'checkpointUpdate' %}" method="POST">
                            {% csrf_token %}
                            {% for remarkablePoint in step.remarkablePoints %}
                                <div class="d-flex align-items-center">
                                    <input type="checkbox" id="remarkablePoint" name="remarkablePoint" value="0" onchange="submitForm(this, '{{ step.number }}')"><br>
                                    <p>{{ remarkablePoint }}</p>
                                </div>
                            {% endfor %}
                            <input type="hidden" id="roadmapId" name="roadmapId" value="{{ roadmapId }}">
                            <input type="hidden" id="stepNumber" name="stepNumber" value="{{ step.number }}">
                            <input type="hidden" id="checkpoint{{ step.number }}" name="checkpoint{{ step.number }}" value="0">
                        </form>
                    {% else %}
                        <ul>
                            {% for remarkablePoint in step.remarkablePoints %}
                                <li>{{ remarkablePoint }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <b>Recommended Materials</b>
                    <ul>
                        {% for material in step.recommendedMaterials %}
                            <li>{{material.title}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="infoJob">
                    <div>
                        <h3>Job you should aspire to</h3>
                        <h4>{{step.jobSuggestion.title}}</h4>
                        <p>{{step.jobSuggestion.description}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="footer">
        <h2>Conclusions</h2>
        <div class="contenedorConclutions">
            <div class="conclutions">
                <h3>Benefit</h3>
                <p> {{roadmap.benefit}} </p>
            </div>
            <div class="conclutions">
                <h3>Salary</h3>
                <p> {{roadmap.salary}} </p>
            </div>
        </div>
    </div>
    {% endblock content %}
    {% block scripts %}
    <script src="{% static 'scripts/roadmap.js' %}"></script>
    {% endblock scripts %}
</body>
</html>