.contenedorBanner{
    background-color: #102C57;
    height: 300px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    color: white;
    width: 80%;
    align-items: center;
}

.banner h2{
    font-size: 3rem;
    font-weight: 700;
}

.contenedorForm{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedorForm .form1{
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

.contenedorForm .form2{
    width: 40%;
    margin-left: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.input{
    width: 30%;
    height: 45px;
    padding: 12px;
    margin: 5px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    text-align: left;
}

.input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}
  
.input:active {
    transform: scale(0.95);
}
  
.input:focus {
    border: 2px solid grey;
}

.city{
    border-radius: 12px;
}

.data{
    position: relative;
    width: 350px;
    border-style: solid ;
    border-width: 2px;
    border-color: #cccccc;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.interest{
    font-size: larger;
    margin-bottom: 0px;
}
.boxInfo{
    font-size: smaller;
    margin-top: -5px;
}
.completion{
    font-size: xx-large;
    margin-bottom: 0px;
}

.dataContainer{
    width: 100%;
    overflow: hidden;
}

.charts{
    border-style: solid;
    border-width: 2px;
    border-color: #cccccc;
    border-radius: 5px;
}

.chartOne{
    width: 700px;
    margin: 10px;
    padding: 5px;
}
.chartTwo{
    width: 610px;
}

.chartThree{
    width: 830px;
}

.interestTag {
    position: absolute;
    right: 0px;
    top: 5px;
}

.cajaContenedorRoadmaps{
    display: flex;
    width: 100%;
}

.contenedorRoadmaps{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #0d1b2a18;
    border-radius: 10px;
    background-color: #e0e1dd57;
    width: 30%;
    margin: 2% 10px;
    padding: 10px;
}

.infoRoadmap1{
    width: 55%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.cajaContenedorRoadmaps{
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}


.infoRoadmap2{
    width: 35%;
}

.tituloCard{
    text-decoration: none; 
    color:black; 
    width: 80%;
    margin-top: 10px;
}

.top {
    position: relative;
    width: 100%;
}

.interestTag {
    position: absolute;
    right: -5px;
    top: 5px;
}

.dropdownboton{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

.dropdownboton:active{
    background-color: gray;
}

.dropdown-menu{
    padding: 0px;
}

.dropdown-menu p{
    margin: 0px;
    padding: 5px;
}

.dropdown-menu p:hover{
    cursor: pointer;
}

.liked path{
    fill: #ff0000;
    stroke-width: 0;
}

.notliked path{
    fill: #ffffff;
    stroke-width: 10;
}

@media (max-width: 710px){
    .chartOne{
        width: 350px;
    }
    .chartTwo{
        width: 350px;
        padding: 5px 100px 5px 100px;
    }
    .chartThree{
        width: 350px;
    }
}

@media (max-width: 850px) and (min-width: 711px){
    .chartTwo{
        width: 700px;
        padding: 5px 100px 5px 100px;
    }
    .chartThree{
        width: 700px;
    }
}
@media (max-width: 768px) {
    .banner h2{
        font-size: 2rem;
    }
    .contenedorRoadmaps{
        width: 45%;
        margin: 2% 10px;
    }
    .tituloResultados{
        font-size: 35px;
    }

}

@media (max-width: 576px){
    .contenedorBanner{
        height: 500px;
    }
    .contenedorForm{
        flex-direction: column;
    }
    .contenedorForm .form1{
        width: 100%;
        justify-content: center;
    }
    .contenedorForm .form2{
        width: 100%;
        margin-left: 0px;
        justify-content: center;
    }
    .contenedorForm form{
        flex-direction: column;
    }

    .input{
        width: 80%;
        text-align: center;
        margin: 10px auto;
    }

    .button{
        width: 100% !important; 
    }

    .button-1{
        margin: 10px auto;
        width: 30% !important;
    }

    .tituloResultados{
        font-size: 28px;
    }

    .botonDropdown{
        transform: scale(0.9);
    }

    .contenedorRoadmaps{
        width: 80%;
    }

    .infoRoadmap1{
        width: 100%;
    }

    .infoRoadmap2{
        width: 100%;
    }
    .interest{
        border-radius: 12px;
    }
    .cajaContenedorRoadmaps{
        justify-content: space-around;
    }
}