.interest {
    height: 20px;
    align-items: center;
}

.contenedorBanner{
    background-color: #102C57;
    height: 300px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    color: white;
    width: 80%;
    align-items: center;
}

.banner h2{
    font-size: 3rem;
    font-weight: 700    ;
}

.contenedorForm{
    margin-top: 40px;
}

.contenedorForm form{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.interest{
    border-radius: 12px 0px 0px 12px;
}

.input{
    width: 30%;
    height: 45px;
    padding: 12px;
    margin: 5px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    text-align: left;
}

.objective{
    border-radius: 12px;
}
  
.input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}
  
.input:active {
    transform: scale(0.95);
}
  
.input:focus {
    border: 2px solid grey;
}

.contenedorRoadmaps{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #0d1b2a18;
    border-radius: 10px;
    background-color: #e0e1dd57;
    width: 30%;
    margin: 2% 10px;
}

.infoRoadmap1{
    width: 55%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.infoRoadmap2{
    width: 35%;
}

.tituloCard{
    text-decoration: none; 
    color:black; 
    width: 100%;
}

@media (max-width: 768px) {
    .banner h2{
        font-size: 2rem;
    }

}

@media (max-width: 576px){
    .contenedorBanner{
        height: 500px;
    }

    .contenedorForm form{
        flex-direction: column;
    }

    .input{
        width: 80%;
        text-align: center;
        margin: 10px auto;
    }

    .button{
        margin-top: 10px;
    }

    .contenedorRoadmaps{
        width: 80%;
    }

    .infoRoadmap1{
        width: 100%;
    }

    .infoRoadmap2{
        width: 100%;
    }
    .interest{
        border-radius: 12px;
    }
}

/* Like button */
